
// config settings

// Set the border radius for the buttons
$border-radius: 4px !default;
$main-font: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$color-main: #333333 !default;
$color-main-bg: #ffffff !default;

$color-blackish: #151515 !default;
$color-black: #000000 !default;
$color-white: #ffffff !default;
$color-dark-blue: #436F95 !default;
$color-light-blue: #5F9DD3 !default;
$color-tile-bg: #dbdbdb !default;
$color-tile-hover: #5F9DD3 !default;
$color-correct-bg: #abdc8c !default;
$color-wrong-bg: #F1BDBD !default;

$color-input-border-focus: #33C3F0 !default;
$color-input-border: #D1D1D1 !default;

$color-email: #0a88ff !default;
$color-facebook: #306199 !default;
$color-twitter: #26c4f1 !default;
$color-pinterest: #b81621 !default;
$color-instagram: #125688 !default;
$color-whatsapp: #43d854 !default;

body {
    font-family: $main-font;
    color: $color-main;
	line-height: 1.5;
    background-color: $color-main-bg;
    -webkit-font-smoothing: antialiased;
}

div.waz_qc_quiz img[src=''] {
	display: none
}

div.waz_qc_quiz {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: $color-blackish;
	padding: 30px 50px;
}

.waz_qc_quiz p {
	width: auto;
}

h2.waz_qc_quiz_title {
	color: $color-blackish;
	margin: 0 0 20px;
}

.waz_qc_quiz_description {
	font-size: 16px;
	margin: 0 0 20px;
}

img.waz_qc_quiz_description_img, img.waz_qc_quiz_question_img {
	display: block;
	max-width: 100%;
	max-height: 400px;
	margin-left: auto;
	margin-right: auto;
}

img.waz_qc_quiz_answer_img {
	max-width: 100%;
	max-height: 200px;
	margin: 0 auto;
	display: block;
	margin-bottom: 10px;
}

img.waz_qc_quiz_question_img {
	margin-bottom: 15px;
}

#waz_qc_question {
	font-size: 20px;
	margin-bottom: 15px;
	color: $color-blackish;
}

#waz_qc_question_back {
	display: block;
	margin-bottom: 15px;
}

div.waz_qc_quiz svg.waz_qc_rectancle {
	display: inline-block;
	vertical-align: top;
	margin-right: 8px;
}

div.waz_qc_quiz span.waz_qc_answer_span {
	display: inline-block;
	padding: 0;
	margin: 0;
	font-size: 16px;
	color: $color-blackish;
	margin-left: 35px;
	vertical-align: bottom;
	text-indent: -35px;
}

.waz_qc_next_question {
	background-color: transparent;
	color: $color-black;
	width: 140px;
	border-radius: $border-radius;
	border: solid 2px $color-blackish;
}

.waz_qc_next_question:hover {
	background-color: $color-black;
	color: $color-white;
}

div.waz_qc_quiz div.waz_qc_answer_div {
	box-sizing: border-box;
	display: inline-block;
	margin-bottom: 15px;
	width: 100%;
	border-radius: $border-radius;
	background-color: $color-tile-bg;
	text-align: left;
	text-transform: none;
	font-weight: 400;
	cursor: pointer;
	color: $color-blackish;
	padding: 10px;
}

div.waz_qc_quiz div.waz_qc_answer_div.waz-qc-twoup {
	width: calc(50% - 8px);
	margin: 4px;
	vertical-align: top;
}

div.waz_qc_quiz div.waz_qc_answer_div.waz-qc-threeup {
	width: calc(33% - 8px);
	margin: 4px;
	vertical-align: top;
}

#waz_qc_correct_answer, #waz_qc_your_answer {
	font-weight: 400;
}

div.waz_qc_quiz div.waz_qc_answer_div:hover {
	background-color: $color-tile-hover;
}

.waz_qc_score_text {
	font-size: 14px;
	margin: 30px 0 10px;
	color: $color-blackish;
}

h3.waz_qc_score_title {
	font-size: 26px;
	margin: 0 0 20px;
	color: $color-blackish;
}

.waz_qc_score_img {
	margin: 0 0 20px;
	max-width: 100%;
}

.waz_qc_score_desc {
	font-size: 16px;
	color: $color-blackish;
}

.waz_qc_quiz_footer {
	margin-top: 20px;
	font-size: 16px;
	color: $color-blackish;
}

.waz_qc_your_answers_text {
	font-weight: 700;
	font-size: 16px;
	margin: 0 0 15px;
	color: $color-blackish;
}

div.waz_qc_quiz div.waz_qc_question_response_item {
	margin: 0 0 15px;
	color: $color-blackish;
}

div.waz_qc_quiz h3.waz_qc_question_response_question {
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 10px;
	padding-top: 15px;
	color: $color-blackish;
}

div.waz_qc_quiz p.waz_qc_question_response_response {
	font-size: 16px;
	margin: 0 0 10px;
	color: $color-blackish;
}

div.waz_qc_quiz p.waz_qc_question_response_correct_answer {
	font-size: 16px;
	margin: 0;
	padding-bottom: 15px;
	color: $color-blackish;
}

.waz_qc_bold {
	font-weight: 700;
}

#waz_qc_question_count {
	font-size: 16px;
	color: $color-blackish;
}

#waz_qc_question_right_or_wrong {
	font-size: 20px;
	margin: 20px 0;
	color: $color-blackish;
}

#waz_qc_question_back {
	font-size: 18px;
	color: $color-blackish;
}

.waz-qc-flipper div {
	padding: 5px;
}

div.waz_qc_quiz p.waz_qc_back_response {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 10px;
	color: $color-blackish;
}

div.waz_qc_quiz div.correct-answer {
	background-color: $color-correct-bg;
}

div.waz_qc_quiz div.wrong-answer {
	background-color: $color-wrong-bg;
}

.flip-container {
	-webkit-perspective: 1000;
	perspective: 1000;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.waz-qc-back, .waz-qc-front, .flip-container {
	width: 100%;
	height: 400px;
}

.waz-qc-flipper {
	transition: transform .6s;
	-webkit-transition: transform .6s;
	transform-style: preserve-3d;
	position: relative;
}

.waz-qc-back, .waz-qc-front {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transition: transform .6s;
	-webkit-transition: transform .6s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	position: absolute;
	top: 0;
	left: 0;
}

.waz-qc-front {
	z-index: 2;
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
}

.waz-qc-back {
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
}

.flip-container.flip .waz-qc-flipper {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.waz_qc_social_share h3 {
	margin: 0 0 18px;
	font-size: 20px;
}

.waz_qc_social_share {
	margin: 0 0 30px;
}

.waz_qc_social_share a.waz_qc_share_link {
	margin: 2px;
	display: inline-block;
	width: 120px;
	padding: 8px 10px;
	color: $color-white;
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 10pt;
	font-weight: 700;
	border-radius: $border-radius;
	text-decoration: none;
	box-shadow: none;
	border-bottom: none;
	line-height: 1.5;
}

.waz_qc_social_share a.waz_qc_share_link:hover {
	opacity: .8;
}

.waz_qc_share_link svg {
	float: left;
	height: 18px;
	width: 18px;
	fill: $color-white;
}

#waz_qc_share_link_facebook {
	background-color: $color-facebook;
}

#waz_qc_share_link_whatsapp {
	background-color: $color-whatsapp;
}

#waz_qc_share_link_instagram {
	background-color: $color-instagram;
}

#waz_qc_share_link_twitter {
	background-color: $color-twitter;
}

#waz_qc_share_link_pinterest {
	background-color: $color-pinterest;
}

#waz_qc_share_link_email {
	background-color: $color-email;
}

div.waz_qc_quiz h3.waz_qc_email_headline {
	font-size: 26px;
	font-weight: 400;
}

div.waz_qc_quiz button.waz_qc_button {
	margin-top: 1rem;
}

div.waz_qc_quiz button.waz_qc_button.waz_qc_submit_email_button {
	width: 100%;
}

div.waz_qc_quiz button.waz_qc_skip_email_button {
	font-size: 8px;
}

div.waz_qc_quiz button.waz_qc_restart_button {}

div.waz_qc_quiz input.waz_qc_optin_input {}

@keyframes pulse {
	from {
		-webkit-transform: none;
		transform: none;
	}
	50% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	to {
		-webkit-transform: none;
		transform: none;
	}
}

div.waz_qc_quiz input.waz_qc_optin_input.waz_qc_invalid {
	border: 1px solid $color-wrong-bg;
	-webkit-animation: pulse .5s;
	animation: pulse .5s;
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-quiz-cat .tooltipster-box {
	background-color: $color-dark-blue;
}

.tooltipster-arrow-border {
	border-top-color: $color-dark-blue!important;
}

div.waz_qc_quiz span.waz_qc_mobile_check {
	display: none;
}

@media (max-width:600px) {
	.waz-qc-flipper div {
		padding: 0;
	}
	div.waz_qc_quiz span.waz_qc_mobile_check {
		display: inline;
	}
	div.waz_qc_quiz {
		padding: 30px 0;
	}
	div.waz_qc_quiz button.waz_qc_button {
		width: 80%;
	}
	div.waz_qc_quiz div.waz_qc_answer_div.waz-qc-threeup img.waz_qc_quiz_answer_img, div.waz_qc_quiz div.waz_qc_answer_div.waz-qc-twoup img.waz_qc_quiz_answer_img {
		max-height: 110px;
	}
	div.waz_qc_quiz span.waz_qc_answer_span {
		margin-left: 27px;
		vertical-align: bottom;
		text-indent: -30px;
		font-size: 14px;
	}
	div.waz_qc_quiz svg.waz_qc_rectancle {
		margin-right: 3px;
		vertical-align: bottom;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
}


/** Taken from Skeleton: 
 * https://github.com/dhg/Skeleton/blob/gh-pages/dist/css/skeleton.css 
 */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	color: #555;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border-radius: $border-radius;
	border: 1px solid #bbb;
	cursor: pointer;
	box-sizing: border-box;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
	color: #333;
	border-color: #888;
	outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
	color: $color-white;
	background-color: $color-dark-blue;
	border-color: $color-dark-blue;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
	color: $color-white;
	background-color: $color-light-blue;
	border-color: $color-light-blue;
}

button,
.button {
	margin-bottom: 1rem;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	height: 38px;
	padding: 6px 10px;
	/* The 6px vertically centers text on FF, ignored by Webkit */
	background-color: $color-white;
	border: 1px solid $color-input-border;
	border-radius: $border-radius;
	box-shadow: none;
	box-sizing: border-box;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

textarea {
	min-height: 65px;
	padding-top: 6px;
	padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	border: 1px solid $color-input-border-focus;
	outline: 0;
}

label,
legend {
	display: block;
	margin-bottom: .5rem;
	font-weight: 600;
}

fieldset {
	padding: 0;
	border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline;
}

label>.label-body {
	display: inline-block;
	margin-left: .5rem;
	font-weight: normal;
}

/*
 * disable auto-zoom on iphone input field focus 
 * http://www.456bereastreet.com/archive/201212/ios_webkit_browsers_and_auto-zooming_form_controls/
*/
input[type='text']:focus,
input[type='number']:focus,
textarea:focus {
	font-size: 16px;
}

/* disable auto-zoom on iphone input field focus */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	select:focus,
	textarea:focus,
	input:focus {
		font-size: 16px;
	}
}

input {
	font-size: 16px;
}